
.incrusteTv{
  position: absolute;
  top: 12.9%;
  left: 11.3%;
  width: 77%;
  height: 54%;
}

#blogvision{
  height:100%;
  border-radius:6px;
}
#blogvision a{
  display:none;
}
#blogvision>iframe{
  width:100% !important;
  height:100% !important;
}
