
.incrusteTv{
  position: absolute;
  top: 12.9%;
  left: 11.3%;
  width: 77%;
  height: 54%;
}

.shadow{
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.7);
}


#blogvision{
  height:100%;
  border-radius:6px;
}
#blogvision a{
  display:none;
}
#blogvision>iframe{
  width:100% !important;
  height:100% !important;
}

/*    PAGE DETAIL MOVIE     */
.media{
  margin:15px 60px ;
}

.page-heading{
  margin: 0 0 25px;
  border: 1px solid #d9d9d9;
}

.btn-move{
  padding:  15% 20px;
  position:absolute;
  height:100%;
  text-align:center;
  vertical-align:middle;
  font-size:4em;
  color:#888;
}

.btn-move .fa{
  margin-top:45%;
}

.btn-move:hover{
  background-color:#d9d9d9
}

.btn-prev{
  top:0;
  left:0;
  border-right:1px solid #d9d9d9;
}
.btn-next{
  top:0;
  right:0;

  border-left:1px solid #d9d9d9;
}

.wrapper:hover img {
	transition: all 0.2s ease 0s;
	opacity: 0.6;
}

.wrapper:hover img:hover {
	transition: all 0.2s ease 0s;
	opacity: 1;
}
.img-box img:hover{
  transform: scale(1.2);
}


/*************  CAPTION **************************/
.captionBox{
  overflow:hidden;
  position:relative;
}
.captionBox .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 12px;
}

.captionBox .full-caption {
    bottom: -40px ;
    text-align: left;
    box-sizing: border-box;
    padding: 10px 0;
    text-align:center;
    overflow:hidden;
}

.captionBox:hover .full-caption {

    -moz-transform: translateY(-125%);
    -o-transform: translateY(-125%);
    -webkit-transform: translateY(-125%);
    transform: translateY(-125%);

}
